*{
    margin: 0px;
}
body{
    background-color: white;
    color: black;
    font-family:Arial, Helvetica, sans-serif ;
}
ul{
list-style: none;
display: flex;
height: inherit;
margin-top: 20px;

}
menu{
    height: inherit;
margin-top: 20px;
 
}
header{

background:white;
color: lavender;
display: flex;
justify-content: space-between;
height: 90px;
align-items: center
}
.logo img{
    width: 60px;
}
header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: inherit;
    padding: 0px 10px;
}
.principal{
    background:white;
    text-align: center;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8PDxUQEA8VDxUPDw8PDw8VFRUPFQ8VFRUWFhUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0OFQ8PFy0dFR0rKysrLS0tLS0tLS0tLS4tLSstLS0tLSstKy0tKystLS0tKy0tLS0rLS04LTcrKy4tK//AABEIALEBHAMBIgACEQEDEQH/xAAbAAEBAAMBAQEAAAAAAAAAAAAAAQIDBQQGB//EAD8QAAICAQEEBQgHBQkAAAAAAAABAhEDIQQFEjFBUWFxsRMiMnKBkaHBBiNSgtHh8BQVNELCJENTYmNzkrLx/8QAGQEBAQEBAQEAAAAAAAAAAAAAAAECAwQF/8QAIhEBAQEBAAICAQUBAAAAAAAAABEBAiExAyISEzJBUXEE/9oADAMBAAIRAxEAPwD4polGwlGq6RraCRnwihSNVq66Uk67OXyYMGvre/GvhJ/ibG6FIjMXEvEGKsa5Iw4TbaI2hUjVwFWIzjqZlo1y0MFqZPVmzHjoUjFQMuEzoUE1r4TFxNrRjRakYNGNGyiUKRraJRsaMaFIwaI0bKJQqRqonCbKMWhSMGjFxNjRGhSNbRjRtaMaBGvhI0bDFoJGuiNGxoxaBGtoxaNjMWB9Ikcr6RbRLHjSjpxtxb1tVqqaZ2Eji/SuP1UH/qf0s45rv3n1fNvLJ85N+1kx5JR1jJxfWm14GINPO9MdvzJ35SV1V3entN2Le+ePOfH2SVngAW672HfsX6cXB9a85fidKGVOKadpq0+tHx59XsULwY3X92ia6cbus4yMZSaZryR/WpIt8nqK1GxSNkZOjVGOtG+EV1FpGeOKGbaMeOuOSjfK3zr/ANNqOH9J+ePuyf0kp1kyvfLemD/EXsTfyNb3xg+0/wDjI+YBquX5a+j/AH3h/wA3u/M1vfuP7M/h+JwCA/LX0myb1hllwU4t+jet+7ke8+V3dljDLGUuSbvp6GfTbNtMMquEr61ya70Stc+WYoyolFrUY0YmdEYpGDRGjNolCpGpolGcjw5t444txdutNFaLU3w9TRi0eF72h9mXw/E9GPa8brz0m60vW+rvFTw2mLRm0RoVYwaMDMxYpGLMGZswYqR9Qjj/AErj9RHsyLwkjsJnK+k38P8Afh8zzc9ece35Ofrr5IS7iBnZ89ZSbdvm9W+dhS0rtsTa7Pj8SIop9luiN7Pj0/k+bPjKPttxS/s2P1X4sx3sx3+DLuss0Ow8k49T9h6N5bxxYWlNvzk2qVnOhvLFOVRdN9DVfkZyu3W82VnrZ6cC6zW4qWnuM3cVzLWc5M2248T86SV15vN69Pccbf2148rjwS4uHivq1r8DVv1/Wr/bj4s5xrMce+t84rK12/l3m3yWWWLj4W8cJKHF0RlK2l7aZplNuk23wqlz0Vt0va2/azTmNfPXoZC8T5Xp1ECFHu3TtEcWRynaTg0qV62vwPFFOr/XuF6Bc2PsMOeM48UXafw7+pmbOXuB/VP134I6bZz3Zr085coQ5u371WO4xVyTrVadpyJbflbvykud0nS9xrKx11mPp2Q5myb3UqjNU26tcuzuOk2KuTfTk7/5Q75eCOOdff3KHfL5HM2fFxzjG64pRjfVbqy45d+2s2YPTj60fFHt3/ur9jzvB5bHncYwbyYpccHxK6Uulq1fbaPFs/px9ePiisvomYspi2ZrvGGSaim26S1Z457fCtNXXKmtTDe0uSvTXQ5pXLrZsb3teT7XgT9pyfbZpBWa/QUzm/SL+Hl60H8Ub45Txb6yXgkvV8UePj92PrfJn06/x8xar8vmRPrDIet8kYRUyBFMoN9DenfoYFRVVc9X3vnQbIJOwNmPNKLuMnGuptH0OHaoOEXLLG+GPFcld1rofNJizO81vjveXu3xkjLInGSkuBK076WeEAuZGetu0sJhshWQpABUVksgG/DteSCqMnFXdaGz94ZuXlH19B5oyr2OzZ5eV3xP0ZR59ErTXc+J+8kau/2m05XObk1Tk7o1Fk9SFRt2Z+fH14+KPpXM+XhKmn1NP3HtlvSX2V7zHWbvp1+LrMtbd8yvh+98jmI3bVtPlK0qr6bNCNZ4Y73N24ps2b04+tHxNZns/px9ZBnHfcjFyNflDB5DD1vFvR+evV+Z4j1be7l91fM8pvPTy9+9AwCsvplnPPvDLeKS7F4nEU5db95fKyquJ0+a5nL9OPZ1/wBVzcjWwAdHkAZOuizEAUxMosogCBEGEUFVLBaKo61a58+gIxK2ABZdVcub52YsspWQAWMG7pN0rda0utkLBq9XXcrYVEZRnXQvcS+oOqAgIUIAgAoIUCpaP2fMyw6ST7THoIkRa6TyGnJtLulqeRyb5mflpcPDpXFxcld1XPn7BG9+TV2idu+xGoArG7QABFDBCKIhUAFgtEAhUAARZJrookZU010OzLJkcnb6dX2gYgzx5nHl2rl1qi7Rnlkk5y5ybk9K1fYBgEQ24c7g7ST0a1SfNV0garJRszZXNuT5vnol4dxgAFGzDmcGpLmmmunVaomXK5Scnzk3J9rbtgYEKwmEIxb5a9nMNUenZdtlj9FR14dXFNqnaafQzRkm5O30tv3hfDEAzUHXFWl8N9tWBgEbsudv+WK7lXRRqTAs8copNpriVq01a611mJ1MebaM8Y41HiWPG8cdKqMnXNvU5uSDjJxapxbi11NaNDNNY2WL1IAAsqkuoscjTtaAYgAIAgApCgCFIUqq0QEIKCFoAACoAAKEKAiAoAgKQKApABQAgXjdVel3XaQEBkKCjZDPJcny7ma5St2+l2wQiqQBAWiHtzZMKwwWJ5FkkpLaeKS4JVJOCgkk60t23qkeNg3AEBQAAQBkmYhQoAQALYEKyMAAKFBSwAELFkLQUFggRQABAAFUAACFQAEBQgQoAAhQpZAAAAAAACkAIAAKAAAApAKCAgpACgAWgFgEIiggKqggApCkAAACkAAAAAAUCAAAAAAAAAAAUgAoIAAKQgoogKKALIAZSFAEARQABCkAVSAAAAAAKAIUgAAAAAAAAAAEAGzFicrqlwxcnbr9MwAgARRSFIAAKBAAQAAUCkAAAAAAABSEAAFAAAACgQAAAAAKQEAApRAAB6dm5S9Vf9kaACfzq76wMWAMQCAKBQAmoAAqkAAqDAIIACisgABAAAEAAKABAAAAAFQAIgQAKAAoEAA//9k=);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
}
.principal img{
    padding: 20px;
    width: 400px;
}
.two{
    background-color:white;
    text-align: center;
    padding: 20px;
}
.tres{
    background-color:white;
    text-align: left;
}
.principal button{
    width: 250;
    height: 40px;
    background-color: white;
    cursor: pointer;
    border-radius: 24px;
    border: none;
    font-size: 30px;
}
