*{
    margin: 0px;
}
body{
    background-color: white;
    color: black;
    font-family:Arial, Helvetica, sans-serif ;
}
ul{
list-style: none;
display: flex;
height: inherit;
margin-top: 20px;

}
menu{
    height: inherit;
margin-top: 20px;
 
}
header{

background:white;

display: flex;
justify-content: space-between;
height: 90px;
align-items: center
}
.logo img{
    width: 60px;
}
header a{
   
    text-decoration: none;
    height: inherit;
    padding: 0px 10px;
}
.principal{
    background:white;
    text-align: center;
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
}
.principal img{
    padding: 20px;
    width: 400px;
}
.two{
    background-color:white;
    text-align: center;
    padding: 20px;
}
.tres{
    background-color:white;
    text-align: left;
}
.principal button{
    width: 250;
    height: 40px;
    background-color: white;
    cursor: pointer;
    border-radius: 24px;
    border: none;
    font-size: 30px;
}
